name: CI
on: [push, pull_request]
jobs:
  build-linux:
    name: Python (${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v2

    - name: Monolith Workflow
      run: |
        wget -q https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Linux-x86_64.sh -O miniforge.sh
        bash miniforge.sh -f -b -p $HOME/miniconda
        . $HOME/miniconda/etc/profile.d/conda.sh
        conda config --set quiet True --set always_yes yes --set changeps1 no
        conda create --name testenv --yes python=${{ matrix.python-version }} pip six pytest pytest-runner pytest-cov pytest-runner
        conda activate testenv
        python -m pip install .
        python setup.py test --addopts " --cov=metar"
        if [[ ${{ matrix.python-version }} == "3.8" ]]; then
          pip install codecov
          codecov
        fi
